{
  "presets": [
    "env", "react"
  ],
  "env": {
    "production": {
      "plugins": [
      	["emotion", { "sourceMap": false }],
      	"console"
      ]
    },
    "development": {
      "plugins": [
      	["emotion", { "sourceMap": true }],
      	"console"
      ]
    }
  }
}
